{{ define "layout" }}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="/public/favicon.ico" type="image/x-icon">
	<title>{{ block "title" . }}{{ end }} - BoltDB Web GUI</title>

	{{ template "css" . }}
</head>

<body>
	{{ template "header" . }}
	{{ template "main" . }}
	{{ template "footer" . }}
</body>

</html>
{{ end }}