{{ define "title" }}Buckets{{ end }}
{{ define "main" }}
<main>
	<h1>Buckets</h1>

	<ul>
		{{ range $name, $info := .Local.Buckets }}
		<li><a href="/db/bucket?id={{ QueryEscape $name }}">{{ $name }} ({{ $info.NumRows }} rows)</a></li>
		{{ else }}
		<p>No buckets to show yet</p>
		{{ end }}
	</ul>
</main>
{{ end }}