{{ define "title" }}Create a new bucket{{ end }}
{{ define "main" }}
<main>
	<form action="/db/new-bucket" method="post" class="vertical tile">
		<h1>Create a new bucket</h1>
		<hr>
		<label>Name<input type="text" name="name" placeholder="Type the bucket name here..."></label>
		<input type="submit" value="Create">
	</form>
</main>
{{ end }}