{{ define "title" }}Home{{ end }}
{{ define "main" }}
<main>
	<h1>{{ .FilePath }}</h1>
	<nav>
		{{ range $k, $v := .Buckets }}
		<a href="/bucket?id={{ $k }}">{{ $k }} ({{ $v }} rows)</a>
		{{ else }}
		<p>No buckets to show yet</p>
		{{ end }}
	</nav>
</main>

<style>
	body>main>nav {
		display: flex;
		flex-direction: column;
	}
</style>
{{ end }}